name: Publish

on: [push, pull_request]

env:
  MIRROR_URL: git@github.com:EpitechPromo2026/B-AIA-500-TLS-5-1-gomoku-younes1.bahri.git

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && github.event.repository.name == 'Gomoku' }}

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            ${{ env.MIRROR_URL }}
          ssh_private_key:
            ${{ secrets.SSH_KEY }}